@import "tailwindcss";

body {
    @apply bg-black text-white;
}

canvas {
    cursor: grab;
}
canvas:active {
    cursor: grabbing;
}

@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }
    100% {
        background-position: 400px 0;
    }
}

.animate-shimmer {
    background-size: 800px 100%;
    animation: shimmer 1.4s infinite linear;
}
